<button (click)="handleLogout()">Log Out</button>

<a routerLink="/new">Add a new author</a>

<p>We have quotes by:</p>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let author of authors">
      <td>{{ author.name }}</td>
      <td>{{ author.age }}</td>
      <td>
        <button (click)="goToEditPage(author._id)">Edit</button>
        <button (click)="deleteAuthor(author._id)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>

<router-outlet></router-outlet>
